.FormErrorMessage {
  color: red;
}

article {
  width: 80%;
  float: left;
}

aside {
  width: 20%;
  height: 40%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24;
  
}

a {
  text-decoration: none; 
}

aside > a {
  font-weight: bold;
}

#document_table {
  width : 90%;
  word-break: break-all;
  text-align: justify;
  table-layout: fixed;
}