.FormErrorMessage {
  color: red;
}

article {
  width: 80%;
  float: left;
}

aside {
  width: 20%;
  height: 40%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24;
  
}

td > span {
	overflow : auto;
}

td  {
	font-size: 90%;
}

a {
  text-decoration: none; 
}

aside > a {
  font-weight: bold;
}

.document_table {
  width : 90%;
  text-align: justify;
  table-layout: fixed;
}

.long-text {
  word-break: break-all;
  font-size: inherit;
  font-size: 0.5rem;
}

.long-text:hover {
  font-size: 1em;
}