<html>
	<meta charset="uft-8">
	<head>
		<title>{{data.title}}</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<article>
			<h1>{{data.title}}</h1>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
					  {% if category == "success" %}
					    <p class=FormMessage>		{{ message }}</p>
					  {% else %}
					    <p class=FormErrorMessage>	{{ message }}</p>
					  {% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block content %} {% endblock %}
		</article>
		<aside>
			{% include "sidepanel.html" %}
		</aside>
	</body>
</html>
