{% extends "base.html" %}
{% block content %}
	{% if user_docs is defined %}
		<section>
			<p>Mis documentos</p>
			{% if user_docs|count > 0 %}
			<table class="document_table">
				<thead>
					<th>Nombre del autor</th>
					<th>Documentos disponibles</th>
					<th>Nombre del documento</th>
					<th>Hash</th>
					<th>Firma</th>
					<th>Descargar</th>
				</thead>
				<tbody>
				{% for author in user_docs %}
					<tr>
						<td rowspan = {{author.documents|count}} > {{author.name}} </td>
						<td rowspan = {{author.documents|count}} > {{author.documents|count}} </td>
						<td class="long-text"> {{author.documents[0].name}} </td>
						<td class="long-text"> {{author.documents[0].hash}} </td>
						<td class="long-text"> {{author.documents[0].sig}}  </td>
						<td>
							<a href="/files/{{author.documents[0].name}}">Descargar</a>
						</td>
					</tr>
					{% for doc in author.documents[1:] %}
					<tr>
						<td class="long-text"> {{ doc.name }} </td>
						<td class="long-text"> {{ doc.hash }} </td>
						<td class="long-text"> {{ doc.sig }} </td>
						<td>
							<a href="/files/{{doc.name}}">Descargar</a>
						</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>No hay documentos que mostrar</p>
			{% endif %}
		</section>
	{% endif %}
		<section>
			<p>Buscar documentos por autor, o autor por documento</p>
			<form action="" method="post" name="docfind" enctype="multipart/form-data">
				{{ dform.hidden_tag() }}
				<p> Archivo: {{ dform.doc }} {{ dform.submit }} </p>
			</form>
			<form action="" method="post" name="userfind">
				{{ uform.hidden_tag() }}
				<p> Usuario: {{ uform.user }} {{ uform.submit }} </p>
			</form>
		</section>
		<section>
			{% if data.data is string %}
				{% if data.data|count > 0 %}
					<p>El documento pertenece al autor {{ data.data }}</p>
				{% else %}
					<p>Documento no encontrado</p>
				{% endif %}
			{% elif data.data|count > 0 %}
			<table title="{{data.title}}" class="document_table">
				<thead>
					<th>Nombre del autor</th>
					<th>Documentos disponibles</th>
					<th>Hash</th>
					<th>Firma</th>
				</thead>
				<tbody>
				{% for author in data.data %}
					<tr>
						<td rowspan = {{author.documents|count}} > {{author.name}} </td>
						<td rowspan = {{author.documents|count}} > {{author.documents|count}} </td>
						<td class="long-text"> {{author.documents[0].hash}} </td>
						<td class="long-text"> {{author.documents[0].sig}}  </td>
					</tr>
					{% for doc in author.documents[1:] %}
					<tr>
						<td class="long-text"> {{ doc.hash }} </td>
						<td class="long-text"> {{ doc.sig }} </td>
					</tr>
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>No hay documentos que mostrar</p>
			{% endif %}
		</section>
{% endblock %}

